<!doctype html>
<html lang="pl" dir="ltr">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>sklep</title>
</head>
 
<body>
<style type="text/css">
/* <![CDATA[ */
html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
#top {
	width: 780px;
}

#NAGLOWEK {
	background-color: #888;
}

#MENU {
	width: 150px;
	float: left;
	overflow: hidden;
	background-color: #ccc;
}

#TRESC {
	width: 630px;
	float: left;
	overflow: hidden;
	background-color: #fff;
}

#STOPKA {
	clear: both;
	width: 100%;
	background-color: #888;
}
/* ]]> */
</style>

<div id="top">
	<div id="NAGLOWEK">Nagłówek szablonu</div>
	<div id="MENU">
        <b>Kategorie</b>
		<ul>
			{% for kategoria in Kategorie %}
			<li><a href="/kategoria/{{ kategoria.nazwa }}">{{ kategoria.nazwa }}</a> </li>
			{% endfor %}
		</ul>
	</div>
	<div id="TRESC">{% block produkt_list %}{% endblock %}</div>
	<div id="STOPKA">Stopka serwisu</div>
</div>
</body>
 
</html>
